<div>
  <article class="post h-entry" itemscope itemtype="http://schema.org/CreativeWork">
    <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title | escape }}</a> <a class="post-link" href="{{ post.url | relative_url }}" ><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page-meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include reading_time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
        <p class="post-meta post-meta-title">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: date_format }}</time>
          </p>
        {% endif %}
    </header>
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="post-meta-description" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="post-meta-description" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a class="post-link" href="{{ post.url | relative_url }}"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}
  
  </article>
  <br>
</div>
