/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  overflow-x: visible;
  display: block !important;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 110%;
  border-collapse: collapse;
  border: 1px solid $body-color;//$light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  text-overflow:ellipsis;
  overflow:hidden;
  max-width: 100%;
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $body-color;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $body-color;
  border-right: 1px solid $body-color;
}

tr, td, th {
  vertical-align: middle;
}

