/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


// Handle Overflow With Table Output

table {
    display: block !important;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 110%;
    border:none;
    th{
      text-align: center! important;
    }
    // td{
    //   //text-overflow:ellipsis;
    //   //overflow:hidden;
    //   //max-width: 15em;
    // }
  }